---
import { projects } from "@cv";
import Github from "@/components/Icon/Github.astro";
import Information from "@/components/Icon/Information.astro";
---

<section>
  <h2>Proyectos</h2>
  <ul>
    {
      projects.map(
        ({ url, description, highlights, name, isActive, github = "" }) => {
          return (
            <li>
              <article>
                <header>
                  <h3>
                    <a
                      href={url}
                      target="_blank"
                      title={`Ver el proyecto ${name}`}
                    >
                      {name}
                    </a>
                    {isActive && <span>•</span>}
                    {github && (
                      <a
                        class="github-code-link"
                        href={github}
                        target="_blank"
                        title={`Ver código fuente del proyecto ${name}`}
                      >
                        <Github />
                      </a>
                    )}
                  </h3>
                  <p>{description}</p>
                  {name === "VakoSRL" ? (
                    <span style="font-size: 10px; color: var(--color-text)">
                      Hecho junto a{" "}
                      <a
                        href="https://www.linkedin.com/in/agust%C3%ADn-alejandro-monzon-0026ba45/"
                        target="_blank"
                        class="link"
                      >
                        Agustin Monzón
                      </a>
                    </span>
                  ) : null}
                </header>
                <footer>
                  {highlights.map((highlight: string | { name: string, description: string }) => {
                    return typeof highlight === 'string' 
                      ? <span class="tech-info">{highlight}</span>
                      : <span title={highlight.description} class="tech-info" style="cursor: pointer;">
                        <Information width="16px" height="16px" />
                        {highlight.name}
                      </span>;
                  })}
                </footer>
              </article>
            </li>
          );
        },
      )
    }
  </ul>
</section>

<style>
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    margin-inline: -16px;
    margin-bottom: 5rem;
  }

  article {
    border-radius: 8px;
    border: 1px solid var(--accent-color);
    gap: 16px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    height: 100%;
    margin: 1rem 0;
  }

  article header {
    flex: 1;
  }

  article h3 {
    margin-bottom: 4px;
    font-weight: 500;
  }

  article a {
    color: var(--bold-text);
  }

  article a:hover {
    text-decoration: underline;
  }

  article p {
    font-size: 0.84rem;
    line-height: 1.2rem;
    margin-bottom: 4px;
    letter-spacing: 1.4px;
  }

  article h3 span {
    color: rgb(0, 188, 47);
    animation-name: flicker;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    font-size: 0.6rem;
  }

  footer span {
    border-radius: 6px;
    background: var(--accent-color);
    color: white;
    font-size: 0.65rem;
    text-transform: uppercase;
    padding: 0.2rem 0.6rem;
  }

  .github-code-link {
    margin-left: 5px;
  }

  a.link {
    color: var(--accent-color) !important;
  }

  .tech-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  @keyframes flicker {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.25;
    }
    100% {
      opacity: 1;
    }
  }

  @media (width <= 700px) {
    ul {
      margin-inline: 0px;
    }

    article {
      border: none;
      box-shadow: 0 1px 1px #f2f2f2;
      padding: 0 0 16px 0;
    }
  }

  @media print {
    article h3 span {
      animation-name: none;
    }
  }
</style>
